body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

label{
    font-weight: bold;
}

#formularioTareas{
    width: 100%;
}    

@media (min-width: 992px) {
    #formularioTareas{
        width: 75%;
    }    
}
